<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MySelfManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MySelfManager.Properties.Settings>
            <setting name="serializedTasks" serializeAs="String">
                <value />
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>510, 480</value>
            </setting>
            <setting name="lastDay" serializeAs="String">
                <value />
            </setting>
        </MySelfManager.Properties.Settings>
    </userSettings>
</configuration>